# Imports

In [1]:
import json
import numpy
from sqlalchemy import create_engine
from sqlalchemy_utils import database_exists, create_database
import psycopg2

# Create SQL DB connection

In [2]:
# Define a database name (we're using a dataset on births, so we'll call it birth_db)
# Set your postgres username/password, and connection specifics
username = 'postgres'
password = 'password'     # change this
host     = 'localhost'
port     = '5432'            # default port that postgres listens on
db_name  = 'books'




## 'engine' is a connection to a database
## Here, we're using postgres, but sqlalchemy can connect to other things too.
engine = create_engine( 'postgresql://{}:{}@{}:{}/{}'.format(username, password, host, port, db_name) )
print(engine.url)






## create a database (if it doesn't exist)
if not database_exists(engine.url):
    create_database(engine.url)
print(database_exists(engine.url))




con = psycopg2.connect(database = db_name, user = username, password = password, host = host)
cursor = con.cursor()

postgresql://postgres:password@localhost:5432/books
True

# Create titles database

In [ ]:
cursor.execute('''CREATE TABLE IF NOT EXISTS titles (
                isbn_13 text primary key,
                isbn_10 text,
                title text,
                subtitle text,
                publisher text
               );''')

con.commit()

In [ ]:
import random
import string
N = 10
def random_isbn():
    return 'XXX'+''.join(random.choices(string.ascii_uppercase + string.digits, k=N))

In [ ]:
file_name = '../data/jsondump.json'

table_name = 'titles'

batch_size = 10000

with open(file_name, 'r') as file_handle:

    ix = 0
    while True:
        titles = []
        subtitles = [] 
        authors = []
        publishers = []
        isbn10s = []
        isbns13 = []

        print('starting a new block, num_blocks = ', ix)
        ix += 1

        for i in range(batch_size):

            data = next(file_handle)
            json_data = json.loads(data)

            keys = json_data.keys()



            if json_data['type']['key'] == '/type/edition':




                if 'isbn_13' in keys:
                    isbn_13 = json_data['isbn_13'][0]
                else:
                    isbn_13 = random_isbn()


                if 'isbn_10' in keys:
                    isbn_10 = json_data['isbn_10'][0]
                else:
                    isbn_10 = 'NULL'


                if 'title' in keys:
                    title = json_data['title']
                else:
                    title = 'NULL'

                if 'subtitle' in keys:
                    subtitle = json_data['subtitle']
                else:
                    subtitle = 'NULL'

                if 'publishers' in keys:
                    publisher = json_data['publishers'][0]
                else:
                    publisher = []



                command = '''
                INSERT INTO titles (isbn_13, isbn_10, title, subtitle, publisher) VALUES (%s, %s, %s, %s, %s);
                '''

                try:
                    cursor.execute(command, (isbn_13, isbn_10, title, subtitle, publisher))
                except Exception as e:
                    print(str(e))
                    print('error!', ix)
                    con.commit()
                    
                    
                    

        con.commit()

# Create authors database

In [3]:
cursor.execute('''CREATE TABLE IF NOT EXISTS authors (
                author_id text primary key,
                author_name text
               );''')

con.commit()

In [4]:
file_name = '../data/ol_dump_authors_2017-12-31.txt'

with open(file_name) as file_handle:
    while True:
        line = next(file_handle)
        author_id = line.split('/authors/')[-1].split(' ')[0].replace('",', '')
        author_name = line.split('{"name": ')[-1].split(',')[0].replace('"','')
        
        command = '''
        INSERT INTO authors (author_id, author_name) VALUES (%s, %s);
        '''
        
        cursor.execute(command, (author_id, author_name))
        con.commit()

StopIteration:

In [ ]:
cursor.execute('''CREATE TABLE IF NOT EXISTS titles_authors (
                isbn_13 text primary key,
                author_id text
               );''')

con.commit()

# Test queries

##### Titles

In [20]:
cursor.execute('''SELECT title FROM titles;''')
titles = cursor.fetchall()
titles = [title[0] for title in titles]
titles = [title.lower() for title in titles]

In [23]:

for title in titles:
    if ('pandas' in title):
        print(title)

beastly behaviors: a zoo lover's companion : what makes whales whistle, cranes dance, pandas turn somersaults, and crocodiles roar
where have all the pandas gone? questions and answers about endangered species
why pandas do handstands... and other curious truths about animals
giant pandas
giant pandas (true books: animals (sagebrush))
giant pandas
giant pandas (true books)
giant pandas
of pandas and people
jane goodalls animal world pandas (jane goodall's animal world)
three pandas planting (aladdin picture books)
three pandas planting
giant pandas of china
giant pandas of china
giant pandas of china
giant pandas
once there no pandas
bears and pandas
pandas (baby animals)
giant pandas (wild world)
grant pandas
getting to know... nature's children - lions & pandas
pandas
bears and pandas (leaders, series 737)
book about pandas (r)
giant pandas (bears)
pandas (in the wild)
giant pandas sb-aotr (animals of the rain forest)
giant pandas (animals of the rain forest)

##### Authors

In [16]:
cursor.execute('''SELECT author_name FROM authors;''')
authors = cursor.fetchall()
authors = [author[0] for author in authors]

In [18]:
for author in authors:
    if('randon' in author) and ('anderson' in author):
        print(author)

/type/author	/authors/OL1394865A	8	2017-03-31T09:35:59.220351	{bio: I'm Brandon Sanderson