# Imports

In [1]:
import csv
import json
import sys


import numpy


from sqlalchemy import create_engine
from sqlalchemy_utils import database_exists, create_database
import psycopg2


import shelfy

##### Create SQL DB connection

In [2]:
# Define a database name (we're using a dataset on births, so we'll call it birth_db)
# Set your postgres username/password, and connection specifics
username = 'postgres'
password = 'password'     # change this
host     = 'localhost'
port     = '5432'            # default port that postgres listens on
db_name  = 'book_info'




## 'engine' is a connection to a database
## Here, we're using postgres, but sqlalchemy can connect to other things too.
engine = create_engine( 'postgresql://{}:{}@{}:{}/{}'.format(username, password, host, port, db_name) )
print(engine.url)


## create a database (if it doesn't exist)
if not database_exists(engine.url):
    create_database(engine.url)
print(database_exists(engine.url))



# Create connection and cursor object to insert info into db
con = psycopg2.connect(database = db_name, user = username, password = password, host = host)
cursor = con.cursor()

postgresql://postgres:password@localhost:5432/book_info
True

##### Create titles table

In [3]:
# Create the tables (if don't exist)
cursor.execute('''CREATE TABLE IF NOT EXISTS works (
                index BIGSERIAL PRIMARY KEY,
                titles TEXT);''')

cursor.execute('''CREATE TABLE IF NOT EXISTS editions (
                index BIGSERIAL PRIMARY KEY,
                titles TEXT);''')

cursor.execute('''CREATE TABLE IF NOT EXISTS authors (
                index BIGSERIAL PRIMARY KEY,
                authors TEXT);''')

cursor.execute('''CREATE TABLE IF NOT EXISTS publishers (
                index BIGSERIAL PRIMARY KEY,
                publishers TEXT);''')


# Have to commit the table creation
con.commit()

##### Fill titles

In [4]:
# Works
command = '''INSERT INTO works (titles) VALUES (%s);'''


titles_path = shelfy.SHELFY_BASE_PATH + '/raw_data/dumps/' + 'ol_dump_works_2017-12-31.txt'


num_fails = 0
with open(titles_path, 'r') as file_handle:
    
    for row in file_handle:
        try:
            title = json.loads(row.split('\t')[-1])['title']
            cursor.execute(command, (title,))
            con.commit()
        except:
            num_fails += 1
            print('failed', num_fails)
            pass

failed 1
failed 2
failed 3
failed 4
failed 5
failed 6
failed 7
failed 8
failed 9
failed 10
failed 11
failed 12
failed 13
failed 14
failed 15
failed 16
failed 17
failed 18
failed 19
failed 20
failed 21
failed 22
failed 23
failed 24
failed 25
failed 26
failed 27
failed 28
failed 29
failed 30
failed 31
failed 32
failed 33
failed 34
failed 35
failed 36
failed 37
failed 38
failed 39
failed 40
failed 41
failed 42
failed 43
failed 44
failed 45
failed 46
failed 47
failed 48
failed 49
failed 50
failed 51
failed 52
failed 53
failed 54
failed 55
failed 56
failed 57
failed 58
failed 59
failed 60
failed 61
failed 62
failed 63
failed 64
failed 65
failed 66
failed 67
failed 68
failed 69
failed 70
failed 71
failed 72
failed 73
failed 74
failed 75
failed 76
failed 77
failed 78
failed 79
failed 80
failed 81
failed 82
failed 83
failed 84
failed 85
failed 86
failed 87
failed 88
failed 89
failed 90
failed 91
failed 92
failed 93
failed 94
failed 95
failed 96
failed 97
failed 98
failed 99
failed 100
failed 101
failed 102
failed 103
failed 104
failed 105
failed 106
failed 107
failed 108
failed 109
failed 110
failed 111
failed 112
failed 113
failed 114
failed 115
failed 116
failed 117
failed 118
failed 119
failed 120
failed 121
failed 122
failed 123
failed 124
failed 125
failed 126
failed 127
failed 128
failed 129
failed 130
failed 131
failed 132
failed 133
failed 134
failed 135
failed 136
failed 137
failed 138
failed 139
failed 140
failed 141
failed 142
failed 143
failed 144
failed 145
failed 146
failed 147
failed 148
failed 149
failed 150
failed 151
failed 152
failed 153
failed 154
failed 155
failed 156
failed 157
failed 158
failed 159
failed 160
failed 161
failed 162
failed 163
failed 164
failed 165
failed 166
failed 167
failed 168
failed 169
failed 170
failed 171
failed 172
failed 173
failed 174
failed 175
failed 176
failed 177
failed 178
failed 179
failed 180
failed 181
failed 182
failed 183
failed 184
failed 185
failed 186
failed 187
failed 188
failed 189
failed 190
failed 191
failed 192
failed 193
failed 194
failed 195
failed 196
failed 197
failed 198
failed 199
failed 200
failed 201
failed 202
failed 203
failed 204
failed 205
failed 206
failed 207
failed 208
failed 209
failed 210
failed 211
failed 212
failed 213
failed 214
failed 215
failed 216

##### Fill editions

In [16]:
# Editions

command = '''INSERT INTO editions (titles) VALUES (%s);'''


titles_path = shelfy.SHELFY_BASE_PATH + '/raw_data/dumps/' + 'ol_dump_editions_2017-12-31.txt'





num_fails = 0
with open(titles_path, 'r') as file_handle:
    
    
    i = 0
    # Open reader object to parse file
    for row in file_handle:
        
        i += 1
        
        try:
            title = json.loads(row.split('\t')[4])['title']
            cursor.execute(command, (title,))
            
        except:
            num_fails += 1
            print('failed', num_fails)
            pass
        
        if i % 10000 == 0:
            print('dumping 10000')
            con.commit()
            i = 0

Parliamentary Debates, House of Lords, Bound Volumes, 1992-93

In [ ]:
file_name = '../data/jsondump.json'

table_name = 'titles'

batch_size = 10000

with open(file_name, 'r') as file_handle:

    ix = 0
    while ix < 10:
        titles = []
        subtitles = [] 
        authors = []
        publishers = []
        isbn10s = []
        isbns13 = []

        print('starting a new block, num_blocks = ', ix)
        ix += 1

        for i in range(batch_size):

            data = next(file_handle)
            json_data = json.loads(data)

            keys = json_data.keys()

            

            if json_data['type']['key'] == '/type/edition':


                print(json_data)

                if 'isbn_13' in keys:
                    isbn_13 = json_data['isbn_13'][0]
                else:
                    isbn_13 = random_isbn()


                if 'isbn_10' in keys:
                    isbn_10 = json_data['isbn_10'][0]
                else:
                    isbn_10 = 'NULL'


                if 'title' in keys:
                    title = json_data['title']
                else:
                    title = 'NULL'

                if 'subtitle' in keys:
                    subtitle = json_data['subtitle']
                else:
                    subtitle = 'NULL'

                if 'publishers' in keys:
                    publisher = json_data['publishers'][0]
                else:
                    publisher = []



                command = '''
                INSERT INTO titles (isbn_13, isbn_10, title, subtitle, publisher) VALUES (%s, %s, %s, %s, %s);
                '''

                try:
                    #cursor.execute(command, (isbn_13, isbn_10, title, subtitle, publisher))
                    pass
                except Exception as e:
                    print(str(e))
                    print('error!', ix)
                    #con.commit()
                    
                    
                    

        con.commit()

## Create titles_2 database

In [ ]:
cursor.execute('''CREATE TABLE IF NOT EXISTS works (
                work_key text primary key,
                title text
               );''')

con.commit()

In [ ]:
file_name = '../data/ol_dump_works_2017-12-31.txt'

In [ ]:
with open(file_name) as file_handle:

    while True:
        line = next(file_handle)
        json_start = line.find('{')
        json_data = json.loads(line[json_start:])
        
        
        try:
            title = json_data['title']
            work_key = json_data['key'].split('/')[-1]
    
            command = '''
            INSERT INTO works (work_key, title) VALUES (%s, %s)
            '''
        
            cursor.execute(command, (work_key, title))
            con.commit()
        except Exception as e:
            print('error')
            print(str(e))
            con.commit()

In [ ]:
print('asdf')

# Create authors database

In [ ]:
cursor.execute('''CREATE TABLE IF NOT EXISTS authors (
                author_id text primary key,
                author_name text
               );''')

con.commit()

In [ ]:
file_name = '../data/ol_dump_authors_2017-12-31.txt'

with open(file_name) as file_handle:
    while True:
        line = next(file_handle)
        author_id = line.split('/authors/')[-1].split(' ')[0].replace('",', '')
        author_name = line.split('{"name": ')[-1].split(',')[0].replace('"','')
        
        command = '''
        INSERT INTO authors (author_id, author_name) VALUES (%s, %s);
        '''
        
        cursor.execute(command, (author_id, author_name))
        con.commit()

In [ ]:
cursor.execute('''CREATE TABLE IF NOT EXISTS titles_authors (
                isbn_13 text primary key,
                author_id text
               );''')

con.commit()

# Test queries

##### Titles

In [ ]:
cursor.execute('''SELECT isbn_10 FROM titles;''')
titles = cursor.fetchall()
titles = [title[0] for title in titles]
titles = [title.lower() for title in titles]

In [ ]:
for title in titles:
    if ('' in title):
        print(title)

##### Authors

In [ ]:
cursor.execute('''SELECT author_name FROM authors;''')
authors = cursor.fetchall()
authors = [author[0] for author in authors]

In [ ]:
for author in authors:
    if('randon' in author) and ('anderson' in author):
        print(author)

##### isbn-10

In [ ]:
cursor.execute('''SELECT isbn_10 FROM titles;''')
titles = cursor.fetchall()
titles = [title[0] for title in titles]
titles = [title.lower() for title in titles]

In [ ]:
for title in titles:
    if '0886773849' in title:
        print(title)