# Imports

In [1]:
import json
import numpy
from sqlalchemy import create_engine
from sqlalchemy_utils import database_exists, create_database
import psycopg2

##### Create SQL DB connection

In [2]:
# Define a database name (we're using a dataset on births, so we'll call it birth_db)
# Set your postgres username/password, and connection specifics
username = 'postgres'
password = 'password'     # change this
host     = 'localhost'
port     = '5432'            # default port that postgres listens on
db_name  = 'book_info'




## 'engine' is a connection to a database
## Here, we're using postgres, but sqlalchemy can connect to other things too.
engine = create_engine( 'postgresql://{}:{}@{}:{}/{}'.format(username, password, host, port, db_name) )
print(engine.url)


## create a database (if it doesn't exist)
if not database_exists(engine.url):
    create_database(engine.url)
print(database_exists(engine.url))



# Create connection and cursor object to insert info into db
con = psycopg2.connect(database = db_name, user = username, password = password, host = host)
cursor = con.cursor()

postgresql://postgres:password@localhost:5432/book_info
True

##### Create titles table

In [5]:
# Create the table (if desn't exist)
cursor.execute('''CREATE TABLE IF NOT EXISTS titles (
                index int primary key auto increment,
                title text,
                authors text,
                publisher text
               );''')

# Have to commit the table creation
con.commit()


# Insert command, tailor as needed
command = '''
            INSERT INTO works (work_key, title) VALUES (%s, %s)
            '''
        
cursor.execute(command, (work_key, title))
con.commit()

NameError: name 'cursor' is not defined

In [ ]:
file_name = '../data/jsondump.json'

table_name = 'titles'

batch_size = 10000

with open(file_name, 'r') as file_handle:

    ix = 0
    while ix < 10:
        titles = []
        subtitles = [] 
        authors = []
        publishers = []
        isbn10s = []
        isbns13 = []

        print('starting a new block, num_blocks = ', ix)
        ix += 1

        for i in range(batch_size):

            data = next(file_handle)
            json_data = json.loads(data)

            keys = json_data.keys()

            

            if json_data['type']['key'] == '/type/edition':


                print(json_data)

                if 'isbn_13' in keys:
                    isbn_13 = json_data['isbn_13'][0]
                else:
                    isbn_13 = random_isbn()


                if 'isbn_10' in keys:
                    isbn_10 = json_data['isbn_10'][0]
                else:
                    isbn_10 = 'NULL'


                if 'title' in keys:
                    title = json_data['title']
                else:
                    title = 'NULL'

                if 'subtitle' in keys:
                    subtitle = json_data['subtitle']
                else:
                    subtitle = 'NULL'

                if 'publishers' in keys:
                    publisher = json_data['publishers'][0]
                else:
                    publisher = []



                command = '''
                INSERT INTO titles (isbn_13, isbn_10, title, subtitle, publisher) VALUES (%s, %s, %s, %s, %s);
                '''

                try:
                    #cursor.execute(command, (isbn_13, isbn_10, title, subtitle, publisher))
                    pass
                except Exception as e:
                    print(str(e))
                    print('error!', ix)
                    #con.commit()
                    
                    
                    

        con.commit()

## Create titles_2 database

In [ ]:
cursor.execute('''CREATE TABLE IF NOT EXISTS works (
                work_key text primary key,
                title text
               );''')

con.commit()

In [ ]:
file_name = '../data/ol_dump_works_2017-12-31.txt'

In [ ]:
with open(file_name) as file_handle:

    while True:
        line = next(file_handle)
        json_start = line.find('{')
        json_data = json.loads(line[json_start:])
        
        
        try:
            title = json_data['title']
            work_key = json_data['key'].split('/')[-1]
    
            command = '''
            INSERT INTO works (work_key, title) VALUES (%s, %s)
            '''
        
            cursor.execute(command, (work_key, title))
            con.commit()
        except Exception as e:
            print('error')
            print(str(e))
            con.commit()

In [ ]:
print('asdf')

# Create authors database

In [ ]:
cursor.execute('''CREATE TABLE IF NOT EXISTS authors (
                author_id text primary key,
                author_name text
               );''')

con.commit()

In [ ]:
file_name = '../data/ol_dump_authors_2017-12-31.txt'

with open(file_name) as file_handle:
    while True:
        line = next(file_handle)
        author_id = line.split('/authors/')[-1].split(' ')[0].replace('",', '')
        author_name = line.split('{"name": ')[-1].split(',')[0].replace('"','')
        
        command = '''
        INSERT INTO authors (author_id, author_name) VALUES (%s, %s);
        '''
        
        cursor.execute(command, (author_id, author_name))
        con.commit()

In [ ]:
cursor.execute('''CREATE TABLE IF NOT EXISTS titles_authors (
                isbn_13 text primary key,
                author_id text
               );''')

con.commit()

# Test queries

##### Titles

In [ ]:
cursor.execute('''SELECT isbn_10 FROM titles;''')
titles = cursor.fetchall()
titles = [title[0] for title in titles]
titles = [title.lower() for title in titles]

In [ ]:
for title in titles:
    if ('' in title):
        print(title)

##### Authors

In [ ]:
cursor.execute('''SELECT author_name FROM authors;''')
authors = cursor.fetchall()
authors = [author[0] for author in authors]

In [ ]:
for author in authors:
    if('randon' in author) and ('anderson' in author):
        print(author)

##### isbn-10

In [ ]:
cursor.execute('''SELECT isbn_10 FROM titles;''')
titles = cursor.fetchall()
titles = [title[0] for title in titles]
titles = [title.lower() for title in titles]

In [ ]:
for title in titles:
    if '0886773849' in title:
        print(title)